.filter-container{
    width: 100%;
    height: 650px;
}
    
.filter-choose{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    
.filter-chart{
  width: 100%;
  height: 420px;
  margin-top: 1rem;
  padding: 1.5rem;
  
}


@media (max-width: 768px) {
  .filter-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


